{% extends "base.html" %}

{% block content %}
  <div class="form-wrap">
    <h1>Sign Up</h1>
    <form method="post">
      <div class="form-group">
        <label>Full name</label>
        <input type="text" name="name" class="form-input" required>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-input" required>
      </div>
      <div class="form-group">
        <label>Area / Location</label>
        <input type="text" name="address" class="form-input" placeholder="e.g. North Zone" required>
      </div>
      <div class="form-group">
        <label>Pick your location on the map</label>
        <input type="hidden" id="latitude" name="latitude" value="">
        <input type="hidden" id="longitude" name="longitude" value="">
        <div id="map" class="map-box"></div>
        <small class="form-note">Click on the map to choose your service area.</small>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-input" required>
      </div>
      <button class="form-action" type="submit">Create Account</button>
    </form>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWNlbnRlbGlvIiwiYSI6ImNtcjI5MjB1dDAzb2EyeXM0aThtN3g1eTMifQ.4PUAfaDYLyzQniH4M0anzQ';
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [36.8219, -1.2921],
      zoom: 12
    });
    const marker = new mapboxgl.Marker({ draggable: true })
      .setLngLat([36.8219, -1.2921])
      .addTo(map);

    function updateLocation(lng, lat) {
      document.getElementById('longitude').value = lng.toFixed(6);
      document.getElementById('latitude').value = lat.toFixed(6);
    }

    map.on('click', (e) => {
      marker.setLngLat(e.lngLat);
      updateLocation(e.lngLat.lng, e.lngLat.lat);
    });

    marker.on('dragend', () => {
      const lngLat = marker.getLngLat();
      updateLocation(lngLat.lng, lngLat.lat);
    });

    updateLocation(36.8219, -1.2921);
  </script>
{% endblock %}
